*, ::after, ::before, html {
  box-sizing: border-box;
  
}

div {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-size: 1.125rem;
  letter-spacing: .05px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #fff;
  background-color: #34495E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appTitle {
  margin-right: auto;
}

.appNavTitle {
  display: flex;
  color:#34495E;
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
  color: #34495E;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 1%;
  background-color: #ffff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  list-style: none;
  text-align: center;
  margin: 0;
}

ul li {
display: inline-block;
position: relative;
}

.navUserName {
  display: block;
  height: 100%;
  margin: 0px 25px;
  color: #34495E;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.navUserName:hover {
  cursor: pointer;
}

.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: block;
  background-color: #fff;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.dropDownList {
display: block;
background: #fff;
margin: 10px 10px;
border-radius: 5%;
transition: all 0.3s ease 0s;
}

.dropDownList:hover {
  cursor: pointer;
  color: #34495E;
  text-decoration: underline;
  background-color: #ccc;
}

.dropDownItems {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: #34495E;
}

html .main {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.material-icons {
  font-size: 1rem;
}

button {
  background-color: #34495E;
  color: #ccc;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

button:hover {
  cursor: pointer;
  color: #34495E;
  background-color: #ccc;
}

.homeContentDiv {
  width: 100%;
  max-width: 60rem;
  min-width: 1px;
  margin: auto;
  position: relative;
  z-index: 89;
  
}

.mainBudgetDiv {
  position: relative;
  margin: 1rem auto 2rem;
  padding: 1rem;
  border: 1px solid #a3a6b3;
  font-size: .875rem;
  line-height: 1.4;
  background-color: #fff;
  color: #111;
}

.contentWrap {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.incomeAndExpensesContentWrap {
  width: 80%;
  padding-right: 3em;
  padding-left: 0;
  padding: 0 5.25rem 4em 1.25rem;
}

.incomeAndExpensesContent{
  width: 100%;
  display: block;
  margin-top: -1.6rem;
  -webkit-box-pack: justify;
}

.incomeContent {
  width: 100%;
}

.incomeTitle {
  width: 100%;
  margin-top: 26px;
  margin-bottom: 0;
  font-size: 20px;
  padding-bottom: 0.6rem;
  text-decoration: underline;
}

.expenseContent {
  width: 100%;
}

.expenseTitle {
  margin-top: 26px;
  margin-bottom: 0;
  font-size: 20px;
  padding-bottom: 0.6rem;
  text-decoration: underline;
}

.expenseListDiv {
    margin-top: 5%;
    max-height: 550px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.expenseListDiv::-webkit-scrollbar {
  width: 3px;

}

.expenseListDiv::-webkit-scrollbar-track {
  background: transparent;

}

.expenseListDiv::-webkit-scrollbar-thumb {
  background: transparent;
  transition: all 0.3s ease 0s;
}

.expenseListDiv:hover::-webkit-scrollbar-thumb {
  background: #34495E;
  
}

.expenseListItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom-width: 1px;
  border-bottom-color: rgba(000, 000, 000, 0.25);
  border-bottom-style: solid;
}

#editExpenseButton {
 margin-right: 5%;
}

.expenseName {
  width: 100%;
  margin-right: 5%;
}

.expenseAmount {
  margin-right: 5%;
}

#deleteExpenseButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

#editExpenseButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.budgetBreakdownWrap {
  position: sticky;
  top: 30px;
  padding-right: 0;
  padding-left: 2rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem 2rem 2rem 1rem;
  height: 0%;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  
}

.donut {
  max-width: 760px;
}

.arrow_box {
  position: relative;
  background: #555;
  border: 2px solid #000000;
}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(85, 85, 85, 0);
  border-right-color: #555;
  border-width: 10px;
  margin-top: -10px;
}
.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #000000;
  border-width: 13px;
  margin-top: -13px;
}

.apexcharts-tooltip {
  color: #fff;
  transform: translateX(10px) translateY(10px);
  overflow: visible !important;
  white-space: normal !important;
}

.apexcharts-tooltip span {
  padding: 5px 10px;
  display: inline-block;
}

.budgetBreakDownTitle {
  margin-top: 26px;
  margin-bottom: 0;
  font-size: 20px;
  padding-bottom: 0.6rem;
  text-decoration: underline;
}

.resetButton {
  text-align: center;
}

.resetButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.remainingDiv {
  border: 1px, #000000;
  text-align: right;
}

.newExpenseFormDiv {
  height: 100%;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 16px;
  margin: 10px;
}

.formInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

.formInputSelect {
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.newExpenseFormCancelButton {
  margin: 10px;
}